<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      >

	<targets>
		<target xsi:type="File" name="logfile" fileName="${specialfolder:folder=ApplicationData}/ParamVR.Chat/logs/latest.log"
				layout="[${pad:padCharacter= :padding=-5:fixedLength=true:inner=${threadid}:alignmentOnTruncation=left}-${pad:padCharacter= :padding=-10:fixedLength=true:inner=${threadname}:alignmentOnTruncation=left}] [${pad:padCharacter= :padding=-10:fixedLength=true:inner=${substring:${logger}:start=-10}}] [${pad:padCharacter= :padding=-5:fixedLength=true:inner=${level:uppercase=true}:alignmentOnTruncation=left}] ${longdate} : ${message:withexception=true}"
				maxArchiveDays="30" archiveAboveSize="5242880" archiveFileName="${specialfolder:folder=ApplicationData}/ParamVR.Chat/logs/{#}.log"
				archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyy-MM-dd" createDirs="true"
				/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
	</rules>
</nlog>